<ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Dashboard" href="#/app/dashboard" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
        <ion-nav-view name="dashboard-content"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Login" href="#/app/login" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
         <ion-nav-view name="login-content"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Signup" href="#/app/signup" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
        <ion-nav-view name="signup-content"></ion-nav-view>
    </ion-tab>

</ion-tabs>