<ion-view view-title="{{ date | date : 'EEE, dd MMM'}}">
    <ion-content id="dashboard">
        <div>
            <div class="balance_card card">
                <div class="balance_text">Revenue:</div>
                <div class="balance">${{getAmount(balance)}}</div>
            </div>
            <div class="transactions list">
                <ng-repeat ng-repeat="transaction in transactions">
                    <a id="{{ getId(transaction.id) }}" ng-if="!transaction.refunded" class="item item-avatar green">
                        <img ng-src="img/adam.jpg" />
                        <div class="name">{{ transaction.user_name }}</div>
                        <div class="date">{{ getDateTime(transaction.timestamp)  | date : 'shortTime' }}</div>
                        <div class="right">
                            <div class="price">$ {{ getAmount(transaction.amount) }}</div>
                            <button ng-click="refund(transaction.id)" class="refund-btn button">
                                Refund
                            </button>
                        </div>
                    </a>
                </ng-repeat>
            </div>
        </div>
    </ion-content>
</ion-view>