<ion-view view-title="{{ date | date : 'EEE, dd MMM'}}">
    <ion-content id="dashboard">
        <div class="card">
            <div class="item item-divider row">
                <div class="col col-66">Revenue</div>
                <div class="col">${{getAmount(balance)}}</div>
            </div>
            <div class="transactions list card">
                <ng-repeat ng-repeat="transaction in transactions">
                    <a class="item item-avatar" ng-class="{'green': transaction.new, 'red': transaction.refunded}">
                        <img ng-src="img/adam.jpg" />
                        <h2>{{ transaction.user_name }}</h2>
                        <span>{{ getDateTime(transaction.timestamp)  | date : 'shortTime' }}</span>
                        <span class="right">
                            <span class="price">$ {{ getAmount(transaction.amount) }}</span>
                            <button ng-if="!transaction.refunded" ng-click="refund(transaction.id)" class="refund-btn button">
                                Refund
                            </button>
                        </span>
                    </a>
                </ng-repeat>
            </div>
        </div>
    </ion-content>
</ion-view>