<ion-view id="home" view-title="Spence">
    
    <ion-content>
        <div class="top-image"></div>
        <span class="profile-pic"></span>
        <div class="profile-name">
            {{user.name}}
            <button class="button icon ion-ios-timer-outline" ng-click="openReceipt()"></button>
        </div>

        <div class="center-content">
            <div class="wallet-image"></div>

            <div class="wallet-value">
                ${{(user.balance).toFixed(2)}}
            </div>
        </div>

        <div class="button-container">
            <button class="button button-balanced" ng-click="getIdByText()">Type Code</button>
            <button class="button button-balanced" ng-click="getIdByQr()">Scan QR</button>
        </div>
        

        <!-- Unused features 
        <button class="button" ng-click="makeQR()">Make QR Code</button>

        <div id="testing123"></div>

        <button ui-sref="dashboard">go test the dasboard</button>
        -->
    </ion-content>

</ion-view>