<ion-view view-title="Spence">
    
    <ion-content>

        <div>
            {{user.email}}!
            <button class="button icon ion-ios-timer-outline" ng-click="openModal()"></button>
            <img ng-src="img/adam.jpg">
        </div>

        <div>
            Balance: ${{user.balance}}
        </div>

        <button class="button icon ion-qr-scanner" on-touch="getIdByQr()"></button>

        <button class="button icon ion-ios-keypad" ng-click="getIdByText()"></button>

        <button class="button" on-touch="scan()">Scan</button>
        
        <button class="button" ng-click="makeQR()">Make QR Code</button>
        <div id="testing123"></div>

        <button ui-sref="dashboard">go test the dasboard</button>
    </ion-content>
</ion-view>