<ion-view view-title="Login">
    <ion-content>
        <form class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password"/>
            </label>
            <input class="item button button-block button-balanced" type="submit" value="Login" ng-click="login()"/>
        </form>
        <button class="item button button-block button-calm" href="#/signup">
            Signup
        </button>

    </ion-content>
 </ion-view>