﻿<ion-view id="signin" view-title="Login" hide-nav-bar="true">
    <ion-content>
        <div class="teamIntro">
            <img class='logo' ng-src="img/Sense_Logo.png">
            <span class="Main-Text">Spence</span><br/><br/>
            <span class="Sub-Text">Enabling a truly cashless society</span>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email"/>
            </label>

            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password"/>
            </label>
            <input class="item button button-block login-btn" type="submit" value="Sign In" ng-click="login()"/>

            <button class="item button button-block fb-btn">
               Login with Facebook
            </button>
        </form>
        <a class='signup-btn' ng-click="signup()">Create Account</a>

    </ion-content>
 </ion-view>

