<ion-view view-title="Login" hide-nav-bar="true">
    <!-- Add Stylesheet here -->
    <link rel="stylesheet" type="text/css" href="css/signin.css">

    <ion-content>
        <div class="teamIntro">
            <img ng-src="img/Sense_Logo.png">
            <span id="Main-Text">Spence</span><br/>
            <span id="Sub-Text">Enabling a truly cashless society</span>
        </div>
        <form class="list list-inset">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.email"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password"/>
            </label>
            <input class="item button button-block button-balanced" type="submit" value="Login" ng-click="login()"/>
        </form>
        <button class="item button button-block button-calm padding" ui-sref="signup">
            Signup
        </button>

    </ion-content>
 </ion-view>
